.header {
  color: white;
  height: 81px;
  border-bottom: 1px solid white;
  width: 100%;
  display: grid;
  grid-template-columns: 209px auto 192px;
  font-size: 13px;
  letter-spacing: 3px;
  position: relative;
  padding-bottom: 28px;
  z-index: 2;
}

@media (max-width: 1315px) {
  .header {
    padding-right: 5px;
    padding-left: 5px;
    grid-template-columns: 100px auto 192px;
    box-sizing: border-box;
    height: 110px;
  }
}

@media (max-width: 891px) {
  .header {
    grid-template-columns: 100px auto 90px;
  }

  .header .order BUTTON I {
    font-size: 13px !important;
    left: auto !important;
    top: 40% !important;
  }

  .header .order BUTTON {
    font-size: 0 !important;
    width: 100% !important;
    box-sizing: border-box;
  }
}

@media (max-width: 1172px) {
  .header NAV UL {
    grid-template-columns: 72px 163px auto 100px 100px !important;
  }
}

.icons {
  display: inline-block;
  display: flex;
  padding-top: 48px;
  width: 65px;
}

.header .icons I {
  padding-right: 5px;
  width: 21px;
}

.icons IMG {
  width: 100%;
}

.header NAV {
  padding-top: 48px;
}

.header NAV UL {
  line-height: 18px;
  display: grid;
  grid-template-columns: 83px 160px 401px 116px auto;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.header NAV UL .logo {
  margin: auto;
  display: block;
  margin-top: -10px;
}

.header NAV UL LI {
  margin: 0px;
}

.order {
  padding-top: 30px;
}

.order BUTTON {
  border: 1px solid #ffffff;
  border-radius: 25px;
  width: 192px;
  height: 50px;
  font-size: 13px;
  background-color: transparent;
  box-sizing: border-box;
  padding-left: 41px;
  position: relative;
  line-height: 18px;
  padding-right: 53px;
  padding-top: 18px;
}

.order BUTTON I {
  position: absolute;
  top: 21px;
  left: 140px;
}

@media (min-width: 800px) {
  .mobileMenu {
    display: none;
  }
}

@media (max-width: 799px) {
  .header {
    display: none;
  }
  .mobileMenu I {
    font-size: 20px;
    padding: 15px;
  }

  .mobileMenu {
    height: 40px;
    top: 0;
    position: absolute;
    z-index: 2;
    width: 100%;
  }

  .mobileMenu .mobileHeading {

    width: 100%;
    align-content: center;
    justify-content: center;
    border-bottom: 1px solid white;
    padding: 5px 0;
    z-index: 2;
    position: relative;
  }

  .mobileMenu .menuButton DIV, .mobileMenu .menuButton I{
    display: inline-block;
  }

  .mobileMenu .menuButton I{
    color:white;
  }
  

  .mobileMenu .mobileLogo {
    padding: 5px;
    height: 100%;
    display: inline-block;
    margin:auto;
    box-sizing: border-box;
    left: 50%;
    transform: translateX(-50%);
    position:absolute;
  }
  .mobileMenu .mobileLogo IMG {
    margin: auto;
  }

  .mobileMenu .menuButton{
    width: 150px;
    display: inline-block;
  }

  .mobileMenu UL {
    background: #333;
    margin-top: 0px;
    list-style: none;
    padding: 0px;
    transform: translateY(-120%);
    transition: all 500ms ease-out;
  }

  .mobileMenu UL.show{
    transform: translateY(0%);
  }

  .mobileMenu LI {
    padding: 20px;
    font-size: 25px;
    transition: all 500ms ease-in;
  }

  .mobileMenu UL A{
    width: 100%;
    display: block;
    height: 100%;
  }

 
  .mobileMenu .icons {
    padding-top: 10px;
    width: 150px;
    justify-content: left;

  }

  .mobileMenu LI:hover {
    background: #d4b254;
  }

  .mobileMenu .order {
    padding-top: 0px;
    float:right;
    margin-top:3px;
    padding-right: 10px;
    display: inline-block;
  }

    .mobileMenu .order BUTTON {
      height: 30px;
      line-height: 5px;
    }
  .mobileMenu .order BUTTON I {
    top: 2px;
    left: 130px;
  }

  .mobileMenu .order BUTTON {
    width: 60px !important;
    padding-left: 10px;
    font-size: 0px;
  }

  .mobileMenu .order BUTTON SPAN{
    display: none;
  }

  .mobileMenu .order BUTTON I {
    font-size: 13px !important;
    left: auto !important;
    top: 0%;
    position: relative;
    margin-top: -19px;

  }


}


